version: '3.8'

services:
  zookeeper:
    image: 'bitnami/zookeeper:latest'
    ports:
    - '2181:2181'
    environment:
      ALLOW_ANONYMOUS_LOGIN:
        yes
  kafka:
    image: docker.io/bitnami/kafka:3.5
    depends_on:
    - zookeeper
    ports:
    - "9092:9092"
    hostname: kafka
    environment:
    # KRaft settings
    - KAFKA_CFG_NODE_ID=0
    - KAFKA_CFG_PROCESS_ROLES=controller,broker
    - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
    # Listeners
    - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
    - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://:9092
    - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
    - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
    - KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT
  postgres:
    image: postgres
    hostname: postgres
    ports:
    - "5432:5432"
    environment:
    - POSTGRES_HOST_AUTH_METHOD=trust
  lemans-resource-server:
    image: lemans/lemans-resources
    depends_on:
    - postgres
    ports:
    - "8001:8001"
    hostname: resources
    command: "bash /opt/le-mans/bin/start-resources.sh --cspUri=https://console-stg.cloud.vmware.com --enableJwksCspKeyFormat=true"
    environment:
    # KRaft settings
    - BINDING_ADDRESS=0.0.0.0
    - BINDING_PORT=8001
    - LEMS_HOME=tmp
    - PUBLIC_URI=http://resources:8001
    - DB_CONFIG_FILE=/opt/le-mans/tmp/dbconfig
    volumes:
    - "./tmp:/opt/le-mans/tmp"
#    healthcheck:
#      test: [ "CMD", "curl", "http://resources:8001", "||", "exit", "1" ]
#      interval: 15s
#      timeout: 10s
#      retries: 3
  lemans-gateway:
    image: lemans/lemans-gateway
    extra_hosts:
    - "host.docker.internal:host-gateway"
    depends_on:
    - lemans-resource-server
    - kafka
    ports:
    - "8002:8002"
    hostname: gateway
    command: "bash /opt/le-mans/bin/start-gateway.sh --cspUri=https://console-stg.cloud.vmware.com --enableJwksCspKeyFormat=true"
    environment:
    # KRaft settings
    - BINDING_ADDRESS=0.0.0.0
    - BINDING_PORT=8002
    - RESOURCES_HOST_URI=http://resources:8001
    - CSP_CLIENT_ID=${CSP_CLIENT_ID}
    - CSP_CLIENT_SECRET=${CSP_CLIENT_SECRET}
    - PUBLIC_URI=http://localhost:8002
  echo-server:
    image: python
    ports:
    - "8000:8000"
    hostname: echo-server
    command: "python3 /opt/le-mans/scripts/echo-server.py 8000"
    volumes:
    - "./scripts:/opt/le-mans/scripts"
  fdb:
    image: foundationdb/foundationdb:7.1.37
    hostname: fdb
    ports:
    - $FDB_PORT:$FDB_PORT
    volumes:
    - "./tmp/fdb-data:/var/fdb/data"
    environment:
      FDB_NETWORKING_MODE: container
      FDB_COORDINATOR_PORT: $FDB_PORT
      FDB_COORDINATOR: fdb
      FDB_PORT: $FDB_PORT
  uberserver:
    image: uberserver
    hostname: uberserver
    depends_on:
    - fdb
    ports:
    - "8082:8082"
    environment:
      CXN: docker:docker@fdb:$FDB_PORT
