apiVersion: apps/v1
kind: Deployment
metadata:
  name: dummy-dependabot-deployment
spec:
  selector:
    matchLabels:
      app: dummy
  template:
    metadata:
      labels:
        app: dummy
    spec:
      containers:
        # WF Proxy Updates:
        # Stay one minor version *behind* latest for stability purposes. For example, if dependabot
        # bumps to `proxy:11.6` in this file, then all our yaml should currently be at 11.4 and we
        # want to bump them to 11.5.
        # 1. Manually search/replace for references of `/proxy:11.4` and substitute 11.5.
        # 2. Manually update the version in operator/config/manager/component_versions.yaml
        # 3. Copy the proxy image to Harbor, see "Copying the proxy image to Harbor" in our Technical References confluence page for details
        - name: wf-proxy
          image: projects.registry.vmware.com/tanzu_observability/proxy:13.4
        # Fluent Bit Updates:
        # 1. Copy fluent-bit image to Harbor, see "Copying Latest fluentbit image to Harbor" in our Technical References confluence page for details
        # 2. Manually search/replace for references of `kubernetes-operator-fluentbit:<old.version.num>` and substitute <new.version.num>.
        # 3. Manually update the version in operator/config/manager/component_versions.yaml
        - name: fluent-bit
          image: cr.fluentbit.io/fluent/fluent-bit:3.1.8
