apiVersion: v1
kind: ConfigMap
metadata:
  name: k8s-events-only-wavefront-collector-config
  namespace: {{ .Namespace }}
  annotations:
    wavefront.com/conditionally-provision: '{{and (not .DataCollection.Metrics.Enable) .Experimental.KubernetesEvents.Enable }}'
data:
  config.yaml: |
    clusterName: {{.ClusterName}}
    enableDiscovery: false
    defaultCollectionInterval: 10s
    flushInterval: 10s
    sinkExportDataTimeout: 20s

    sinks:
    - type: "external"
      enableEvents: true
      externalEndpointURL: "{{ .Experimental.KubernetesEvents.ExternalEndpointURL }}"
    events:
      filters:
        tagAllowListSets:
        - type:
          - "Warning"
        - type:
          - "Normal"
          kind:
          - "Pod"
          reason:
          - "Backoff"
        tagDenyList:
        - kind:
          - "Job"
    sources:
      kubernetes_source: {}