{
  "name": "Container CPU Overutilization",
  "alertType": "THRESHOLD",
  "additionalInformation": "Alert reports when a container's cpu utilization percentage is constantly high.",
  "alertChartUnits": "%",
  "alertSources": [
    {
      "name": "A",
      "query": "round(sum(${B} by (sources, cluster, cluster_uuid, namespace_name, workload_name, workload_kind, pod_name, container_name)) / sum(${C} by (sources, cluster, cluster_uuid, namespace_name, workload_name, workload_kind, pod_name, container_name)) * 100)",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE"],
      "hidden": true
    },
    {
      "name": "B",
      "query": "mavg(5m, align(1m, ts(\"kubernetes.pod_container.cpu.usage_rate\", cluster=\"K8S_CLUSTER_NAME\")))",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE"],
      "hidden": true
    },
    {
      "name": "C",
      "query": "mavg(5m, align(1m, ts(\"kubernetes.pod_container.cpu.limit\", cluster=\"K8S_CLUSTER_NAME\")))",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE"],
      "hidden": true
    },
    {
      "name": "Alert Condition",
      "query": "${A}",
      "queryType": "WQL",
      "alertSourceType": ["CONDITION","AUDIT"],
      "hidden": false
    }
  ],
  "conditions": {
    "info": "${A} >= 90"
  },
  "conditionQBEnabled": false,
  "displayExpression": "${Alert Condition}",
  "displayExpressionQBEnabled": false,
  "minutes": 15,
  "resolveAfterMinutes": 2,
  "tags": {
    "customerTags": [
      "integration.kubernetes"
    ]
  },
  "alertTriageDashboards": [
    {
      "dashboardId": "integration-kubernetes-workloads",
      "parameters": {
        "constants": {
          "cluster": "K8S_CLUSTER_NAME"
        }
      }
    }
  ],
  "targets": {
    "info": "ALERT_TARGET"
  },
  "includeObsoleteMetrics": false
}