{
  "name": "Node Memory Overutilization",
  "alertType": "THRESHOLD",
  "additionalInformation": "Alert reports when a node's memory utilization percentage is constantly high.",
  "alertChartUnits": "%",
  "alertSources": [
    {
      "name": "A",
      "query": "round(sum(${B}, sources, cluster, cluster_uuid, nodename, node_role) / sum(${C}, sources, cluster, cluster_uuid, nodename, node_role)  * 100)",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE"],
      "hidden": true
    },
    {
      "name": "B",
      "query": "ts(\"kubernetes.node.memory.working_set\", cluster=\"K8S_CLUSTER_NAME\")",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE"],
      "hidden": true
    },
    {
      "name": "C",
      "query": "ts(\"kubernetes.node.memory.node_allocatable\", cluster=\"K8S_CLUSTER_NAME\")",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE"],
      "hidden": true
    },
    {
      "name": "Alert Condition",
      "query": "${A}",
      "queryType": "WQL",
      "alertSourceType": ["CONDITION","AUDIT"],
      "hidden": false
    }
  ],
  "conditions": {
    "warn": "${A} >= 80",
    "severe": "${A} >= 90"
  },
  "conditionQBEnabled": false,
  "displayExpression": "${Alert Condition}",
  "displayExpressionQBEnabled": false,
  "includeObsoleteMetrics": false,
  "minutes": 10,
  "resolveAfterMinutes": 10,
  "tags": {
    "customerTags": [
      "integration.kubernetes"
    ]
  },
  "alertTriageDashboards": [
    {
     "dashboardId": "integration-kubernetes-workloads",
     "parameters": {
       "constants": {
         "cluster": "K8S_CLUSTER_NAME"
       }
     }
    }
  ],
  "targets": {
    "warn": "ALERT_TARGET"
  }
}