{
  "name": "Node Memory Overallocated",
  "alertType": "THRESHOLD",
  "additionalInformation": "Alert reports when a node's memory utilization percentage is constantly high.",
  "alertChartUnits": "%",
  "alertSources": [
    {
      "name": "A",
      "query": "round(sum(${B} by (sources, cluster, cluster_uuid, nodename, node_role)) / sum(${C} by (sources, cluster, cluster_uuid, nodename, node_role))  * 100)",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE"],
      "hidden": true
    },
    {
      "name": "B",
      "query": "ts(\"kubernetes.node.memory.request\", cluster=\"K8S_CLUSTER_NAME\")",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE"],
      "hidden": true
    },
    {
      "name": "C",
      "query": "ts(\"kubernetes.node.memory.node_allocatable\", cluster=\"K8S_CLUSTER_NAME\")",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE"],
      "hidden": true
    },
    {
      "name": "Alert Condition",
      "query": "${A}",
      "queryType": "WQL",
      "alertSourceType": ["CONDITION"],
      "hidden": true
    },
    {
      "name": "Display Condition",
      "query": "if(${A} >= 150, ${A})",
      "queryType": "WQL",
      "alertSourceType": ["AUDIT"],
      "hidden": false
    }
  ],
  "conditions": {
    "warn": "${A} >= 150"
  },
  "conditionQBEnabled": false,
  "displayExpression": "${Display Condition}",
  "displayExpressionQBEnabled": false,
  "includeObsoleteMetrics": false,
  "minutes": 5,
  "resolveAfterMinutes": 5,
  "tags": {
    "customerTags": [
      "integration.kubernetes"
    ]
  },
  "alertTriageDashboards": [
    {
     "dashboardId": "integration-kubernetes-workloads",
     "parameters": {
       "constants": {
         "cluster": "K8S_CLUSTER_NAME"
       }
     }
    }
  ]
}