{
  "name": "Node Not Ready",
  "alertType": "THRESHOLD",
  "additionalInformation": "",
  "alertChartUnits": "",
  "alertSources": [
    {
      "name": "A",
      "query": "count(ts(\"kubernetes.node.status.condition\", cluster=\"K8S_CLUSTER_NAME\" AND condition=\"Ready\" AND status!=\"True\") by (sources, cluster, cluster_uuid, nodename, node_role))",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE"],
      "hidden": true
    },
    {
      "name": "Alert Condition",
      "query": "${A} >= 1",
      "queryType": "WQL",
      "alertSourceType": ["CONDITION"],
      "hidden": true
    },
    {
      "name": "Display Condition",
      "query": "if(${A} >= 1, ${A})",
      "queryType": "WQL",
      "alertSourceType": ["AUDIT"],
      "hidden": false
    }
  ],
  "conditions": {
    "warn": "${A} >= 1"
  },
  "conditionQBEnabled": false,
  "displayExpression": "${Display Condition}",
  "displayExpressionQBEnabled": false,
  "minutes": 10,
  "resolveAfterMinutes": 2,
  "tags": {
    "customerTags": [
      "integration.kubernetes"
    ]
  },
  "alertTriageDashboards": [
    {
      "dashboardId": "integration-kubernetes-workloads",
      "parameters": {
        "constants": {
          "cluster": "K8S_CLUSTER_NAME"
        }
      }
    }
  ],
  "includeObsoleteMetrics": false
}