{
  "name": "Persistent Volumes Error",
  "alertType": "THRESHOLD",
  "additionalInformation": "",
  "alertChartUnits": "",
  "alertSources": [
    {
      "name": "A",
      "query": "mcount(5m, ${B}) >= 2",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE"],
      "hidden": true
    },
    {
      "name": "B",
      "query": "count(ts(\"kubernetes.pv.status.phase\", cluster=\"K8S_CLUSTER_NAME\" AND (phase=\"Failed\" OR phase=\"Pending\")), sources, cluster, cluster_uuid, pv_name, phase, metrics)",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE"],
      "hidden": true
    },
    {
      "name": "Alert Condition",
      "query": "${A}",
      "queryType": "WQL",
      "alertSourceType": ["CONDITION","AUDIT"],
      "hidden": false
    }
  ],
  "conditions": {
    "warn": "${A} >= 1"
  },
  "conditionQBEnabled": false,
  "displayExpression": "${Alert Condition}",
  "displayExpressionQBEnabled": false,
  "minutes": 10,
  "resolveAfterMinutes": 2,
  "tags": {
    "customerTags": [
      "integration.kubernetes"
    ]
  },
  "targets": {
    "warn": "ALERT_TARGET"
  },
  "includeObsoleteMetrics": false
}