{
  "name": "Persistent Volumes No Claim",
  "alertType": "THRESHOLD",
  "alertSources": [
    {
      "name": "A",
      "query": "(mcount(5m, count(ts(\"kubernetes.pv.status.phase\", cluster=\"K8S_CLUSTER_NAME\" AND phase=\"Available\"), sources, cluster, cluster_uuid, pv_name, phase)) >= 2)",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE"],
      "hidden": true
    },
    {
      "name": "Alert Condition",
      "query": "${A}",
      "queryType": "WQL",
      "alertSourceType": ["CONDITION", "AUDIT"],
      "hidden": false
    }
  ],
  "conditions": {
    "info": "${A} >= 1"
  },
  "displayExpression": "${A}",
  "minutes": 10,
  "resolveAfterMinutes": 2,
  "tags": {
    "customerTags": [
      "integration.kubernetes"
    ]
  },
  "alertTriageDashboards": [
    {
     "dashboardId": "integration-kubernetes-workloads",
     "parameters": {
       "constants": {
         "cluster": "K8S_CLUSTER_NAME"
       }
     }
    }
  ]
}
