{
  "name": "Pod Backoff Event",
  "alertType": "THRESHOLD",
  "alertSources": [
    {
      "name": "Alert Condition",
      "query": "(mcount(10m, count(ts(\"kubernetes.pod_container.status\", cluster=\"K8S_CLUSTER_NAME\" AND (reason=\"ImagePullBackOff\" OR reason=\"CrashLoopBackOff\")), sources, workload_name, pod_name, namespace_name, cluster, cluster_uuid, reason)) >= 5)",
      "queryType": "WQL",
      "alertSourceType": ["CONDITION"],
      "hidden": true
    },
    {
      "name": "Display Condition",
      "query": "if(${Alert Condition}, ${Alert Condition})",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE","AUDIT"],
      "hidden": false
    }
  ],
  "conditions": {
    "warn": "(mcount(10m, count(ts(\"kubernetes.pod_container.status\", cluster=\"K8S_CLUSTER_NAME\" AND (reason=\"ImagePullBackOff\" OR reason=\"CrashLoopBackOff\")), sources, workload_name, pod_name, namespace_name, cluster, cluster_uuid, reason)) >= 5) >= 1"
  },
  "displayExpression": "${Display Condition}",
  "minutes": 10,
  "resolveAfterMinutes": 2,
  "tags": {
    "customerTags": [
      "integration.kubernetes"
    ]
  },
  "alertTriageDashboards": [
    {
     "dashboardId": "integration-kubernetes-workloads",
     "parameters": {
       "constants": {
         "cluster": "K8S_CLUSTER_NAME"
       }
     }
    }
  ]
}
