{
  "name": "Pod Stuck in Pending",
  "alertType": "THRESHOLD",
  "alertSources": [
    {
      "name": "Alert Condition",
      "query": "(mcount(10m, count(ts(\"kubernetes.pod.status.phase\", phase=\"Pending\" AND cluster=\"K8S_CLUSTER_NAME\"), pod_name, namespace_name, cluster, nodename, message)) >= 10)",
      "queryType": "WQL",
      "alertSourceType": ["CONDITION"],
      "hidden": true
    },
    {
      "name": "Display Condition",
      "query": "if(${Alert Condition}, ${Alert Condition})",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE","AUDIT"],
      "hidden": false
    }
  ],
  "conditions": {
    "warn": "(mcount(10m, count(ts(\"kubernetes.pod.status.phase\", phase=\"Pending\" AND cluster=\"K8S_CLUSTER_NAME\"), pod_name, namespace_name, cluster, nodename, message)) >= 10) >= 1"
  },
  "displayExpression": "${Display Condition}",
  "minutes": 5,
  "resolveAfterMinutes": 2
}