{
  "name": "Pod Out-of-memory Kills",
  "alertType": "THRESHOLD",
  "alertSources": [
    {
      "name": "Alert Condition",
      "query": "(mcount(15m, count(ts(\"kubernetes.pod_container.status\", cluster=\"K8S_CLUSTER_NAME\" AND reason=\"OOMKilled\"), sources, workload_name, pod_name, namespace_name, cluster, container_name)) > 1)",
      "queryType": "WQL",
      "alertSourceType": ["CONDITION"],
      "hidden": true
    },
    {
      "name": "Display Condition",
      "query": "if(${Alert Condition}, ${Alert Condition})",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE","AUDIT"],
      "hidden": false
    }
  ],
  "conditions": {
    "warn": "(mcount(15m, count(ts(\"kubernetes.pod_container.status\", cluster=\"K8S_CLUSTER_NAME\" AND reason=\"OOMKilled\"), sources, workload_name, pod_name, namespace_name, cluster, container_name)) > 1) >= 1"
  },
  "displayExpression": "${Display Condition}",
  "minutes": 15,
  "resolveAfterMinutes": 2
}
