{
  "name": "Workload Not Ready",
  "alertType": "THRESHOLD",
  "alertSources": [
    {
      "name": "Alert Condition",
      "query": "(msum(10m, sum(ts(\"kubernetes.workload.status\", cluster=\"K8S_CLUSTER_NAME\"), sources, workload_name, workload_type, namespace_name, cluster) = 0) >= 10)",
      "queryType": "WQL",
      "alertSourceType": ["CONDITION"],
      "hidden": true
    },
    {
      "name": "Display Condition",
      "query": "if(${Alert Condition}, ${Alert Condition})",
      "queryType": "WQL",
      "alertSourceType": ["VARIABLE","AUDIT"],
      "hidden": false
    }
  ],
  "conditions": {
    "warn": "(msum(10m, sum(ts(\"kubernetes.workload.status\", cluster=\"K8S_CLUSTER_NAME\"), sources, workload_name, workload_type, namespace_name, cluster) = 0) >= 10) >= 1"
  },
  "displayExpression": "${Display Condition}",
  "minutes": 5,
  "resolveAfterMinutes": 2
}
