apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: wavefront
    app.kubernetes.io/component: controller-manager
  name: component-versions
  namespace: system
data:
  collector: "1.29.0"
  logging: "2.2.0"
  proxy: "13.3"
