---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app: pl-monitoring
    component: vizier
    vizier-bootstrap: "true"
    app.kubernetes.io/name: wavefront
    app.kubernetes.io/component: pixie
  name: pl-cert-provisioner-role
  namespace: observability-system
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
